$red:#ff595e;
$blue:#0a2463;
$yellow:#f9cb40;

$cursors: pointer auto inherit;

$theme-colors: (
    "primary": $red,
    "secondary":$blue,
    "warning": $yellow,
);  


    
    $btn-background:#FF595E;